/* Purpose CSS */
.purpose-container .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Cards & Body */
.purpose-container .panel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    padding: 0 16px;
}
/* Body Containing Icon & Text */
.purpose-container .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 16px 60px 16px 0px;
}
.purpose-container img {
    width: 50%;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 50px;
}
/* Text */
.purpose-container .text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    line-height: 1.6;
    width: 100%;
}
.purpose-container .text #purpose {
    max-width: 800px;
}
/* Alternate Positions of the Image & Body */
.purpose-container .panel:nth-child(odd) {
    flex-direction: row-reverse;
}
.purpose-container .panel:nth-child(odd) .body {
    padding: 16px 0px 16px 60px;
}
@media screen and (max-width: 1200px) {
    .purpose-container .panel, .purpose-container .panel:nth-child(odd) {
        flex-direction: column;
        align-items: center;
    }
    .purpose-container .body, .purpose-container .panel:nth-child(odd) .body {
        padding: 16px 0;
    }
    .purpose-container .body, .purpose-container .text {
        align-items: center;
        width: 100%;
    }
    .purpose-container img {
        width: 100%;
        max-width: 800px;
    }
}



/* Tools CSS */
.tools-container {
    background-color: rgba(69, 99, 231, 0.7);
}
.tools-container .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0 ;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 40px auto;
}
.cards-container .card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    max-width: 395px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: 0.4s ease-out;
}
.cards-container ion-icon {
    font-size: 40px;
}
.cards-container h2 {
    padding: 10px 0;
}
.cards-container .card:hover {
    transform: scale(1.05);
    transition: 0.4s ease-out;
}
.cards-container .card:hover > h2, .cards-container .card:hover > ion-icon {
    color: rgba(255, 178, 77, 0.8);
    transition: 0.4s ease-out;
}

@media screen and (max-width: 450px) {
    .cards-container .card {
        max-width: 300px;
        height: 290px;
    }
    .purpose-container {
        line-height: 1.4;
    }
}

/* Safety CSS */
.safety-container .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.safety-container .intro {
    width: 100%;
    padding: 16px;
    margin: 16px 0;
}
.safety-container .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 50px;
    margin: 30px 0;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}
.safety-container .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px 0 25px 0;
    max-width: 900px;
}
.safety-container .panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}
.safety-cards, .hazard-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 890px;
    margin-bottom: 60px;
}

.safety-cards .card, .hazard-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; 
    word-wrap: break-word;
    text-align: center;
}
.safety-cards img, .hazard-cards img {
    max-width: 100%;
}
@media screen and (max-width: 900px) {
    .safety-cards .card, .hazard-cards .card {
        width: 150px; 
    }
}
@media screen and (max-width: 450px) {
    .safety-container .body {
        margin: 16px 0;
        padding: 24px;
    }
    .safety-container .text {
        margin: 15px 0;
    }
    .safety-cards .card, .hazard-cards .card {
        width: 100px; 
    }
    .safety-cards, .hazard-cards {
        gap: 15px;
    }
}