/* CONTENTS CSS */
.contents-container .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contents-container h2 {
    padding: 0px 40px;
    color: rgba(255, 255, 255, 0.85);
    background-color: royalblue;
    border-radius: 50px;
}
.contents-container .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    line-height: 1.8;
}
.contents-container .content ion-icon {
    font-size: 20px;
    padding-right: 10px;
}
.contents-container .content a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: royalblue;
    text-decoration: underline;
}



/* CARDS CSS */
.cards-container .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards-container .cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 60px 0;
}
.cards-container .card {
    max-width: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards-container .text {
    padding: 16px;
    text-align: justify;
}
.cards-container .card img {
    max-width: 400px;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgba(0, 0, 0, 0.06);
    border-radius: 100%;
}
.cards-container h1 {
    padding: 10px 0;
}
@media screen and (max-width: 1360px) {
    .cards-container .cards {
        flex-direction: column;
    }
    .cards-container .card {
        flex-direction: row;
        max-width: 100%;
        margin-bottom: 60px;
    }
}
@media screen and (max-width: 900px) {
    .cards-container .card {
        flex-direction: column;
        max-width: 100%;
    }
}

/* BASIC CSS */
.basics-container .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* Cards & Body */
.basics-container .panel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
    padding: 0 16px;
}
/* Body Containing Icon & Text */
.basics-container .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 16px 60px 16px 0px;
}
/* Icon */
.basics-container .icon {
    display: flex;
    align-items: center;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding: 4px 10px;
}
.basics-container .body ion-icon {
    margin-right: 10px;
}
/* Text */
.basics-container .text {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: justify;
}
.basics-container h1 {
    margin: 24px 0;;
}
.basics-container p1 {
    line-height: 1.8;
    margin-bottom: 24px;
}
/* Cards */
.basics-container .cards {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.basics-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 280px;
    text-align: center;
}
.basics-container .cards ion-icon {
    padding: 16px;
    border-radius: 100%;
    margin-bottom: 24px;
    font-size: 30px;
    fill: white;
    background-color: royalblue;
}
/* Alternate Positions of the Image & Body */
.basics-container .panel:nth-child(even) {
    flex-direction: row-reverse;
}
.basics-container .panel:nth-child(even) .body {
    padding: 16px 0px 16px 60px;
}
@media screen and (max-width: 1200px) {
    .basics-container .panel, .basics-container .panel:nth-child(even) {
        flex-direction: column;
        align-items: center;
    }
    .basics-container .body, .basics-container .panel:nth-child(even) .body {
        padding: 16px 0;
    }
    .basics-container .body, .basics-container .text {
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .basics-container .cards {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .contents-container img, .basics-container img {
        width: 100%;
        max-width: 800px;
    }
}



/* FEATURES CSS */
.features-container .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}
.features-container .feature {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 20px;
}
.features-container .text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 60px 0 24px 0;
    max-width: 600px ;
}
.features-container h1 {
    margin-bottom: 24px;
}
.features-container p1 {
    margin-bottom: 40px;
    line-height: 1.8;
}
.features-container .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.features-container .card {
    margin-bottom: 20px;
}
.features-container .card h3 {
    margin-bottom: 6px;
}
.features-container .grid {
    display: flex;
}
.features-container .card p3 {
    padding: 4px 10px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

/* RESOURCES */
.resources-container .container {
    display: flex;
    justify-content: space-between;
}
.resources-container h2 {
    max-width: 100%;
}
.resources-container .cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.resources-container .card {
    width: 325px;
}
.resources-container .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 20px 20px 0 0;
}
.resources-container .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    padding: 30px;
    border-radius: 0 0 20px 20px;
}
.resources-container ion-icon {
    font-size: 25px;
    margin-right: 10px;
}
.resources-container .content {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}
.resources-container .content a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 10px;
}
@media screen and (max-width: 1360px) {
    .resources-container .container {
        flex-direction: column;
        align-items: center;
    }
    .resources-container h2 {
        text-align: center;
    }
    .resources-container .cards {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .resources-container .card {
        max-width: 400px;
        margin: 20px 10px;
    }
}

@media screen and (max-width: 450px) {
    .resources-container .main {
        height: 320px;
    }
}

/* Ionicons Card */
#ionicons-head, #ionicons-main {
    border: solid 2px royalblue;
}
#ionicons-main button {
    background-color: royalblue;
    transition: all 450ms ease;
}
#ionicons-main button:hover {
    color: rgba(255, 255, 255, 0.85);
    background-color: rgb(65, 81, 225) ;
}

/* Youtube Card */
#youtube-head, #youtube-main {
    border: solid 2px rgba(61, 61, 61, 0.6);
}

#youtube-main button {
    background-color:  rgba(61, 61, 61, 1);
    transition: all 450ms ease;
}
#youtube-main button:hover {
    color: rgba(255, 255, 255, 0.85);
    background-color: rgba(255, 178, 77, 0.8);
}

/* live Server Card */
#vscodelive-head, #vscodelive-main {
    border: solid 2px rgba(135,90,251, 0.8);
}

#vscodelive-main button {
    background-color:  rgba(135,90,251, 0.8);
    transition: all 450ms ease;
}
#vscodelive-main button:hover {
    color: rgba(255, 255, 255, 0.85);
    background-color: rgba(92, 35, 248, 0.8);
}

/* Ionicons & Youtube Icons */
#ionicons-head ion-icon, #youtube-head ion-icon, #vscodelive-head ion-icon {
    font-size: 36px;
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 30px;
}
#ionicons-head ion-icon {
    color: royalblue;
}
#youtube-head ion-icon {
    color: rgba(255, 0, 0, 0.8);
}
#vscodelive-head ion-icon {
    color: rgba(135,90,251, 0.8);
}

/* Ionicons & Youtube Cards */
#ionicons-head, #youtube-head, #vscodelive-head {
    background-color: rgba(0, 0, 0, 0.06);
}
.resources-container button {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 450;
    color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    border: none;
}
#ionicons-main, #youtube-main, #vscodelive-main {
    border-top: none;
}
#ionicons-head, #youtube-head, #vscodelive-head {
    border-bottom: none;
}

@media screen and (max-width: 450px) {
    .resources-container button {
        font-size: 11px;
    }
}

@media screen and (max-width: 450px) {
    .contents-container .content, .basics-container p1, .features-container p1 {
        line-height: 1.4;
    }
}